.btn {
    height: 40px;
    margin: 5px auto;
    color:#FFF;
    font-weight: bold;
    font-size: 15px
}
.toolbar-title {
    color: color($colors, light);
    font-size: 18px;
}
.inputText {
    background: rgba(0,0,0,0.1);
    padding: 0 10px;
    margin: 2px auto;
}
.btn, .inputText {
    width: auto;
    border-radius: 5px;
}
.btn-primary {
    background-color: color($colors, primary);
}
.btn-primary:hover {
    background-color: rgba(0, 88, 170,0.9);
}

.error{
    background: #FDE2E2;
    color: #EA5353;
}
.error-msg {
    padding: 5px;
    border: 1px solid #F15B5B;
    border-radius: 2px;
    font-size: 12px;
}

.ico-times:before{ content: "\2718"; }
.ico-times:hover {
    padding-left: 2px;
    background: rgba(31, 30, 30, 0.3);
    color: rgb(216, 59, 59);
}

@font-face {
    font-family: MonSkazka;
    src: url(../assets/fonts/MonSkazka.ttf) format("truetype");
    font-weight: 200
}
@font-face {
    font-family: MonGeorgia;
    src: url(../assets/fonts/MonGeorgia.ttf) format("truetype");
    font-weight: 200
}
@font-face {
    font-family: MonLazurski;
    src: url(../assets/fonts/MonLazurski.ttf) format("truetype");
    font-weight: 200
}
@font-face {
    font-family: MonInfact;
    src: url(../assets/fonts/MonImpact.ttf) format("truetype");
    font-weight: 200
}
@font-face {
    font-family: GymnasiaCompressedMon;
    src: url(../assets/fonts/GymnasiaCompressedMon.ttf) format("truetype");
    font-weight: 200
}
@font-face {
    font-family: GLECB;
    src: url(../assets/fonts/GLECB.TTF) format("truetype");
    font-weight: 200
}
@font-face {
    font-family: MonFnt19;
    src: url(../assets/fonts/MonFnt19-Bold.ttf) format("truetype");
    font-weight: 200
}
body {
    font-family: MonFnt19;
}