.btn {
    height: 40px;
    margin: 5px auto;
    color:#FFF;
    font-weight: bold;
    font-size: 15px
}
.inputText {
    background: rgba(0,0,0,0.1);
    padding: 0 10px;
    margin: 2px auto;
}
.btn, .inputText {
    width: auto;
    border-radius: 5px;
}
.btn-primary {
    background-color: #488aff;
}
.btn-primary:hover {
    background-color: rgba(75,138,255,0.9);
}